@charset "UTF-8";
header {
  background: #0B1F5E; }
  header .container {
    padding: 15px 0; }
    @media (max-width: 990px) {
      header .container {
        padding: 10px 0; } }
  header .header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.logo-box {
  cursor: pointer; }
  @media (max-width: 576px) {
    .logo-box {
      margin-left: auto;
      margin-right: 27%; } }
  @media (max-width: 360px) {
    .logo-box {
      margin-right: 22%; } }
  .logo-box .logo-text {
    color: #fff;
    font: 300 1.5rem 'Roboto', sans-serif; }
    @media (max-width: 990px) {
      .logo-box .logo-text {
        font-size: 1rem; } }
    .logo-box .logo-text span {
      font: 300 1.7rem 'Arizonia', cursive; }
      @media (max-width: 990px) {
        .logo-box .logo-text span {
          display: block;
          font: 300 1.3rem 'Arizonia', cursive; } }

.lang-box {
  cursor: pointer;
  position: relative;
  left: -20px; }
  .lang-box .call-lang {
    color: #fff;
    font: 500 1rem 'Roboto', sans-serif;
    position: relative; }
    @media (max-width: 576px) {
      .lang-box .call-lang {
        font: 500 .95rem 'Roboto', sans-serif; } }
    .lang-box .call-lang::before {
      content: '';
      position: absolute;
      right: -20px;
      top: 9px;
      border: 6px solid transparent;
      border-top: 6px solid #fff; }
  .lang-box .hide-lang {
    display: none;
    border-radius: 20px;
    padding: 5px 12px;
    background: #fff;
    position: absolute;
    top: 25px;
    left: -10px; }
    @media (max-width: 990px) {
      .lang-box .hide-lang {
        left: -15px; } }
    .lang-box .hide-lang li {
      padding: 3px 0; }
      .lang-box .hide-lang li a {
        text-align: center;
        font: 400 .9rem 'Roboto', sans-serif;
        color: #8C8C9E;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .lang-box .hide-lang li a:hover {
          color: #0B1F5E; }

nav {
  background: #0B1F5E; }
  @media (max-width: 576px) {
    nav {
      display: none; } }
  nav ul {
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 1024px) {
      nav ul {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  nav li {
    padding: 0 10px;
    border-right: 1px solid #fff; }
    @media (max-width: 1024px) {
      nav li {
        margin: 5px; } }
    nav li a {
      font: 400 .9rem 'Roboto', sans-serif;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #fff; }
  nav li:last-child {
    border: none; }

.main-screen {
  background: url(../img/main-screen/main-screen.png) no-repeat center center;
  background-size: cover;
  height: 580px; }
  @media (max-width: 1280px) {
    .main-screen {
      height: 500px; } }
  @media (max-width: 990px) {
    .main-screen {
      height: auto; } }
  .main-screen .container {
    height: 100%; }
    @media (max-width: 990px) {
      .main-screen .container {
        padding: 20px 0 40px 0; } }
    @media (max-width: 576px) {
      .main-screen .container {
        padding: 20px 0; } }

.main-screen-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .main-screen-container .main-screen-title {
    color: #0B1F5E;
    font: 600 3.6rem 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px; }
    @media (max-width: 1280px) {
      .main-screen-container .main-screen-title {
        font: 600 3rem 'Roboto', sans-serif; } }
    @media (max-width: 576px) {
      .main-screen-container .main-screen-title {
        font: 600 1.5rem 'Roboto', sans-serif;
        margin-bottom: 5px; } }
  .main-screen-container .main-screen-text {
    color: #0B1F5E;
    font: 400 2.35rem 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px; }
    @media (max-width: 1280px) {
      .main-screen-container .main-screen-text {
        font: 400 2rem 'Roboto', sans-serif;
        margin-bottom: 20px; } }
    @media (max-width: 576px) {
      .main-screen-container .main-screen-text {
        font: 400 1rem 'Roboto', sans-serif; } }
  .main-screen-container img {
    margin-bottom: 60px; }
    @media (max-width: 1280px) {
      .main-screen-container img {
        margin-bottom: 20px; } }
    @media (max-width: 990px) {
      .main-screen-container img {
        height: 100px; } }
    @media (max-width: 576px) {
      .main-screen-container img {
        display: none; } }
  .main-screen-container .main-screen-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 360px) {
      .main-screen-container .main-screen-panel {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .main-screen-container .main-screen-panel .btn-screen {
      padding: 10px 30px;
      width: 200px;
      text-align: center;
      background: #fff;
      font: 600 1rem 'Roboto', sans-serif;
      border: 3px solid #fff;
      border-radius: 40px;
      text-transform: uppercase;
      margin: 0 15px;
      display: block;
      position: relative; }
      @media (max-width: 990px) {
        .main-screen-container .main-screen-panel .btn-screen {
          padding: 8px 25px;
          width: 160px; } }
      @media (max-width: 576px) {
        .main-screen-container .main-screen-panel .btn-screen {
          width: auto;
          margin: 0 5px;
          padding: 10px 35px;
          font: 600 .87rem 'Roboto', sans-serif; } }
      @media (max-width: 390px) {
        .main-screen-container .main-screen-panel .btn-screen {
          font: 600 .8rem 'Roboto', sans-serif;
          padding: 8px 30px; } }
      @media (max-width: 360px) {
        .main-screen-container .main-screen-panel .btn-screen {
          width: 100%;
          margin: 5px; } }
    .main-screen-container .main-screen-panel .inside {
      color: #CD181F;
      border: 3px solid #CD181F;
      -webkit-transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
          -ms-transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
              transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0); }
      @media (max-width: 576px) {
        .main-screen-container .main-screen-panel .inside {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; } }
      .main-screen-container .main-screen-panel .inside::after {
        content: url(../img/icon/helm.png);
        position: absolute;
        right: 10px;
        top: 4px; }
        @media (max-width: 576px) {
          .main-screen-container .main-screen-panel .inside::after {
            top: 3px;
            right: 5px; } }
        @media (max-width: 390px) {
          .main-screen-container .main-screen-panel .inside::after {
            top: 1px;
            right: 2px; } }
    .main-screen-container .main-screen-panel .regist {
      color: #0B1F5E;
      border: 3px solid #0B1F5E;
      -webkit-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0);
          -ms-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0);
              transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0); }
      @media (max-width: 576px) {
        .main-screen-container .main-screen-panel .regist {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; } }
      .main-screen-container .main-screen-panel .regist::after {
        content: url(../img/icon/anchor.png);
        position: absolute;
        left: 10px;
        top: 6px;
        -webkit-transform: rotate(9deg);
            -ms-transform: rotate(9deg);
                transform: rotate(9deg); }
        @media (max-width: 576px) {
          .main-screen-container .main-screen-panel .regist::after {
            top: 4px;
            left: 5px; } }
        @media (max-width: 390px) {
          .main-screen-container .main-screen-panel .regist::after {
            top: 1px;
            left: 2px; } }
    .main-screen-container .main-screen-panel .call-question {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #fff;
      height: 33px;
      width: 33px;
      border-radius: 50%;
      border: 2px solid #fff;
      font: 600 1.125rem 'Roboto', sans-serif;
      position: relative;
      bottom: -25px; }
      @media (max-width: 576px) {
        .main-screen-container .main-screen-panel .call-question {
          display: none; } }

.home-nav-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 30px;
  padding: 20px 0; }
  @media (max-width: 1400px) {
    .home-nav-container {
      grid-template-columns: 1fr; } }
  @media (max-width: 1400px) {
    .home-nav-container .advertising-banner-wrap {
      display: none; } }

.home-nav-container-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px; }
  @media (max-width: 1600px) {
    .home-nav-container-wrap {
      grid-gap: 15px; } }
  @media (max-width: 700px) {
    .home-nav-container-wrap {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr; } }
  @media (max-width: 576px) {
    .home-nav-container-wrap {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; } }
  @media (max-width: 360px) {
    .home-nav-container-wrap {
      grid-template-columns: 1fr; } }
  .home-nav-container-wrap .home-nav-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 20px;
    cursor: pointer;
    border-radius: 10px;
    height: 180px; }
    @media (max-width: 1400px) {
      .home-nav-container-wrap .home-nav-box {
        height: 220px; } }
    @media (max-width: 990px) {
      .home-nav-container-wrap .home-nav-box {
        height: 145px; } }
    @media (max-width: 576px) {
      .home-nav-container-wrap .home-nav-box {
        height: 135px; } }
    @media (max-width: 360px) {
      .home-nav-container-wrap .home-nav-box {
        height: 160px; } }
    .home-nav-container-wrap .home-nav-box .home-nav-title {
      display: block;
      color: #FFF;
      font: bold 1.4rem 'Roboto', sans-serif;
      text-transform: uppercase;
      margin-bottom: 10px; }
      @media (max-width: 1600px) {
        .home-nav-container-wrap .home-nav-box .home-nav-title {
          font: bold 1.2rem 'Roboto', sans-serif; } }
      @media (max-width: 990px) {
        .home-nav-container-wrap .home-nav-box .home-nav-title {
          font: bold 1rem 'Roboto', sans-serif; } }
      @media (max-width: 576px) {
        .home-nav-container-wrap .home-nav-box .home-nav-title {
          font: bold .95rem 'Roboto', sans-serif; } }
    .home-nav-container-wrap .home-nav-box .home-nav-info {
      display: block;
      color: #FFF;
      font: 400 .75rem 'Roboto', sans-serif;
      text-transform: uppercase;
      text-align: center; }
  .home-nav-container-wrap .blocked {
    position: relative; }
    .home-nav-container-wrap .blocked:hover .blocked-info-box {
      opacity: 1; }
    .home-nav-container-wrap .blocked .blocked-info-box {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(11, 31, 94, 0.7);
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 10px;
      z-index: 99;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      height: 100%; }
      .home-nav-container-wrap .blocked .blocked-info-box .blocked-title {
        font: 400 1rem 'Roboto', sans-serif;
        color: #fff;
        position: relative;
        z-index: 9;
        text-align: center;
        margin-bottom: 40px; }
        @media (max-width: 990px) {
          .home-nav-container-wrap .blocked .blocked-info-box .blocked-title {
            margin-bottom: 20px;
            font-size: .8rem; } }
      .home-nav-container-wrap .blocked .blocked-info-box .blocked-info {
        font: 400 1rem 'Roboto', sans-serif;
        color: #fff;
        position: relative;
        z-index: 9;
        text-align: center;
        margin-bottom: 30px; }
        @media (max-width: 990px) {
          .home-nav-container-wrap .blocked .blocked-info-box .blocked-info {
            margin-bottom: 20px;
            font-size: .8rem; } }
      .home-nav-container-wrap .blocked .blocked-info-box .call-regist-modal {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #fff;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid #fff;
        font: 600 1rem 'Roboto', sans-serif; }
    .home-nav-container-wrap .blocked .home-nav-title {
      position: relative;
      right: -5px; }
      @media (max-width: 576px) {
        .home-nav-container-wrap .blocked .home-nav-title {
          right: -10px; } }
      .home-nav-container-wrap .blocked .home-nav-title::before {
        content: url(../img/home-nav/blocked.svg);
        position: absolute;
        left: -40px;
        top: -7px; }
        @media (max-width: 576px) {
          .home-nav-container-wrap .blocked .home-nav-title::before {
            top: -10px; } }
  @media (max-width: 990px) {
    .home-nav-container-wrap .blocked:first-child .blocked-info-box {
      opacity: 1; } }
  .home-nav-container-wrap .social {
    background: url(../img/home-nav/social.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .state {
    background: url(../img/home-nav/state.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .book {
    background: url(../img/home-nav/book.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .film {
    background: url(../img/home-nav/film.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .program {
    background: url(../img/home-nav/program.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .learn {
    background: url(../img/home-nav/learn.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .services {
    background: url(../img/home-nav/services.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .tur {
    background: url(../img/home-nav/tur.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .orend {
    background: url(../img/home-nav/orend.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .sale {
    background: url(../img/home-nav/sale.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .strahovka {
    background: url(../img/home-nav/strahovka.png) no-repeat center center;
    background-size: cover; }
  .home-nav-container-wrap .vebinar {
    background: url(../img/home-nav/vebinar.png) no-repeat center center;
    background-size: cover; }

.constant-state-video {
  background: #FCF8F1; }
  .constant-state-video .container {
    padding: 30px 0; }
    @media (max-width: 990px) {
      .constant-state-video .container {
        padding: 20px 0; } }

.constant-state-video-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 35px; }
  @media (max-width: 1400px) {
    .constant-state-video-container {
      grid-template-columns: 1fr; } }

.constant-state-video-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 30px; }
  @media (max-width: 990px) {
    .constant-state-video-wrap {
      grid-gap: 20px;
      margin-bottom: 20px; } }
  @media (max-width: 768px) {
    .constant-state-video-wrap {
      grid-template-columns: 1fr; } }

.constant-state-video-box .constante-video-box {
  margin-bottom: 10px; }
  .constant-state-video-box .constante-video-box a {
    position: relative;
    height: 100%;
    width: 100%;
    display: block; }
    .constant-state-video-box .constante-video-box a::before {
      content: url(../img/icon/play.png);
      position: absolute;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .constant-state-video-box .constante-video-box a img {
      width: 100%;
      max-width: 100%;
      height: 225px;
      -o-object-fit: cover;
         object-fit: cover; }

.constant-state-video-box .constante-post-box {
  margin-bottom: 10px; }
  .constant-state-video-box .constante-post-box img {
    width: 100%;
    max-width: 100%;
    height: 210px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 990px) {
      .constant-state-video-box .constante-post-box img {
        height: 190px; } }

.constant-state-video-box .constante-video-post-author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px; }
  .constant-state-video-box .constante-video-post-author img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    border: 1px solid #0c9fce;
    position: relative;
    top: -2px; }
  .constant-state-video-box .constante-video-post-author .name {
    color: #0B1F5E;
    margin-right: auto;
    font: 600 1rem 'Roboto', sans-serif;
    margin-left: 10px; }
  .constant-state-video-box .constante-video-post-author .data {
    color: #8C8C9E;
    font: 400 .87rem 'Roboto', sans-serif; }

.constant-state-video-box .constante-video-post-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .constant-state-video-box .constante-video-post-info .post-title {
    color: #0B1F5E;
    font: 600 1.1rem 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .constant-state-video-box .constante-video-post-info .post-text {
    color: #0B1F5E;
    font: 400 .95rem/19px 'Roboto', sans-serif; }
    .constant-state-video-box .constante-video-post-info .post-text a {
      font: 600 .95rem 'Roboto', sans-serif;
      text-decoration: underline;
      display: inline-block; }

.constant-state-video-wrap:last-child {
  margin: 0; }

.advertising-banner-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px; }
  @media (max-width: 1600px) {
    .advertising-banner-wrap {
      grid-gap: 15px; } }
  @media (max-width: 1400px) {
    .advertising-banner-wrap {
      display: none; } }
  .advertising-banner-wrap .advertising-banner-box {
    height: 400px;
    width: 240px;
    cursor: pointer; }
    @media (max-width: 1600px) {
      .advertising-banner-wrap .advertising-banner-box {
        height: 350px;
        width: 200px; } }
    @media (max-width: 1400px) {
      .advertising-banner-wrap .advertising-banner-box {
        height: 360px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 990px) {
      .advertising-banner-wrap .advertising-banner-box {
        height: 250px; } }
    @media (max-width: 576px) {
      .advertising-banner-wrap .advertising-banner-box {
        height: 180px; } }
    @media (max-width: 420px) {
      .advertising-banner-wrap .advertising-banner-box {
        height: 140px; } }
    @media (max-width: 380px) {
      .advertising-banner-wrap .advertising-banner-box {
        height: 120px; } }
    .advertising-banner-wrap .advertising-banner-box img {
      max-width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
      @media (max-width: 990px) {
        .advertising-banner-wrap .advertising-banner-box img {
          -o-object-fit: cover;
             object-fit: cover; } }

.hide-advertising {
  display: none; }
  @media (max-width: 1400px) {
    .hide-advertising {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      margin-bottom: 25px; } }
  @media (max-width: 990px) {
    .hide-advertising {
      margin-bottom: 15px;
      grid-gap: 10px; } }

.constant-slider .container {
  padding: 40px 20px; }
  @media (max-width: 990px) {
    .constant-slider .container {
      padding: 20px 45px; } }
  @media (max-width: 576px) {
    .constant-slider .container {
      padding: 20px 35px; } }

.constant-slider .slick-list {
  margin: 0 -30px 0 -30px; }
  @media (max-width: 1200px) {
    .constant-slider .slick-list {
      margin: 0 -20px 0 -20px; } }
  @media (max-width: 576px) {
    .constant-slider .slick-list {
      margin: 0 -15px 0 -15px; } }

.constant-slider .slick-slide {
  margin: 0 30px; }
  @media (max-width: 1280px) {
    .constant-slider .slick-slide {
      margin: 0 20px; } }
  @media (max-width: 576px) {
    .constant-slider .slick-slide {
      margin: 0 15px; } }

.constant-slider .slick-prev {
  left: -40px;
  top: 33%; }
  @media (max-width: 576px) {
    .constant-slider .slick-prev {
      left: -42px; } }
  .constant-slider .slick-prev::before {
    opacity: 1;
    content: url(../img/icon/arrow-slider.svg); }

.constant-slider .slick-next {
  right: -45px;
  top: 39%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  @media (max-width: 576px) {
    .constant-slider .slick-next {
      right: -42px; } }
  .constant-slider .slick-next::before {
    opacity: 1;
    content: url(../img/icon/arrow-slider.svg); }

.dark-slider {
  background: #0b1f5e; }
  .dark-slider .constant-slider-box .constant-slider-text {
    color: #fff; }
  .dark-slider .slick-prev::before {
    content: url(../img/icon/arrow-slider-white.svg); }
  .dark-slider .slick-next {
    top: 41%; }
    .dark-slider .slick-next::before {
      content: url(../img/icon/arrow-slider-white.svg); }

.constant-slider-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .constant-slider-box .slider-img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 10px;
    border: 1.5px solid #fff; }
  .constant-slider-box .constant-slider-text {
    color: #8c8c9e;
    font: 300 1.125rem 'Roboto', sans-serif; }

footer {
  background: #0B1F5E; }
  footer .container {
    max-width: 1280px;
    padding: 35px 0; }
    @media (max-width: 700px) {
      footer .container {
        padding: 20px 0; } }
    @media (max-width: 360px) {
      footer .container {
        padding: 15px 0; } }

.footer-container {
  display: grid;
  grid-template-columns: 460px 300px 500px;
  grid-gap: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1280px) {
    .footer-container {
      grid-template-columns: 2fr 1fr 2fr;
      grid-gap: 10px; } }
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 2fr 1fr 2fr; } }
  @media (max-width: 700px) {
    .footer-container {
      grid-template-columns: 3fr 2fr;
      grid-gap: 20px; } }
  @media (max-width: 360px) {
    .footer-container {
      grid-template-columns: 1fr;
      grid-gap: 10px; } }

.footer-info-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer-info-box .footer-title {
    font: 600 1.25rem 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase; }
    @media (max-width: 1280px) {
      .footer-info-box .footer-title {
        font: 600 1.125rem 'Roboto', sans-serif;
        margin-bottom: 10px; } }
    @media (max-width: 700px) {
      .footer-info-box .footer-title {
        font: 600 1rem 'Roboto', sans-serif; } }
  .footer-info-box .footer-text {
    font: 100 1.1rem/22px 'Roboto', sans-serif;
    color: #fff; }
    @media (max-width: 1280px) {
      .footer-info-box .footer-text {
        font: 100 1rem 'Roboto', sans-serif; } }
    @media (max-width: 990px) {
      .footer-info-box .footer-text {
        font: 100 1rem 'Roboto', sans-serif; } }
    @media (max-width: 700px) {
      .footer-info-box .footer-text {
        font: 100 .95rem 'Roboto', sans-serif; } }
    .footer-info-box .footer-text strong {
      font: 600 1.25rem 'Roboto', sans-serif;
      text-transform: uppercase; }
      @media (max-width: 1280px) {
        .footer-info-box .footer-text strong {
          font: 600 1.125rem 'Roboto', sans-serif; } }
      @media (max-width: 700px) {
        .footer-info-box .footer-text strong {
          font: 600 1rem 'Roboto', sans-serif; } }

.footer-logo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 360px) {
    .footer-logo-box {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .footer-logo-box img {
    height: 180px;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 20px;
    position: relative;
    right: -15px; }
    @media (max-width: 1024px) {
      .footer-logo-box img {
        height: 140px;
        margin-bottom: 15px; } }
    @media (max-width: 700px) {
      .footer-logo-box img {
        height: auto;
        margin: 0; } }
    @media (max-width: 360px) {
      .footer-logo-box img {
        height: auto;
        left: 0;
        right: 0;
        height: 80px;
        margin: 0; } }
  @media (max-width: 700px) {
    .footer-logo-box .author {
      display: none; } }

.author {
  font: 100 .95rem 'Roboto', sans-serif;
  color: #fff;
  text-decoration: underline;
  white-space: nowrap; }
  @media (max-width: 1280px) {
    .author {
      font: 100 .8rem 'Roboto', sans-serif; } }
  @media (max-width: 700px) {
    .author {
      text-align: center;
      font: 100 .95rem 'Roboto', sans-serif; } }

.footer-nav-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1280px) {
    .footer-nav-box {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 768px) {
    .footer-nav-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 700px) {
    .footer-nav-box {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      grid-column-start: 1;
      grid-column-end: 3; } }
  @media (max-width: 360px) {
    .footer-nav-box {
      grid-column-start: 1;
      grid-column-end: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .footer-nav-box ul {
    margin-right: 80px; }
    @media (max-width: 1280px) {
      .footer-nav-box ul {
        margin-right: 10px; } }
    @media (max-width: 768px) {
      .footer-nav-box ul {
        margin: 0 0 20px 0; } }
    @media (max-width: 700px) {
      .footer-nav-box ul {
        margin: 0; } }
    @media (max-width: 360px) {
      .footer-nav-box ul {
        margin-bottom: 15px; } }
    .footer-nav-box ul li {
      margin-bottom: 10px; }
      .footer-nav-box ul li a {
        text-transform: uppercase;
        font: 100 .95rem 'Roboto', sans-serif;
        color: #fff; }
        .footer-nav-box ul li a:hover {
          text-decoration: underline; }
    .footer-nav-box ul li:last-child {
      margin-bottom: 0; }
  @media (max-width: 700px) {
    .footer-nav-box .btn-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 360px) {
    .footer-nav-box .btn-wrap {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media (max-width: 700px) {
    .footer-nav-box .btn-wrap .btn-blue {
      margin-bottom: 20px;
      position: relative;
      left: -10px; } }
  @media (max-width: 360px) {
    .footer-nav-box .btn-wrap .btn-blue {
      left: 0;
      margin-bottom: 15px; } }
  .footer-nav-box .mob-autor {
    display: none; }
    @media (max-width: 700px) {
      .footer-nav-box .mob-autor {
        display: block; } }

.btn-blue {
  padding: 10px 30px;
  background: #0C9FCE;
  border-radius: 5px;
  color: #fff;
  font: 500 1.2rem 'Roboto', sans-serif;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  @media (max-width: 1024px) {
    .btn-blue {
      padding: 7px 20px;
      font: 500 1.125rem 'Roboto', sans-serif; } }
  @media (max-width: 990px) {
    .btn-blue {
      font: 500 1rem 'Roboto', sans-serif; } }
  .btn-blue:hover {
    background: #00b8f5; }

.title-sm {
  color: #0B1F5E;
  text-transform: uppercase;
  font: 600 1.55rem 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px; }
  @media (max-width: 1400px) {
    .title-sm {
      font: 600 1.35rem 'Roboto', sans-serif; } }
  @media (max-width: 990px) {
    .title-sm {
      font: 600 1.2rem 'Roboto', sans-serif;
      margin-bottom: 10px; } }

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

.padding {
  padding: 0 40px; }
  @media (max-width: 1600px) {
    .padding {
      padding: 0 35px; } }
  @media (max-width: 1280px) {
    .padding {
      padding: 0 30px; } }
  @media (max-width: 1100px) {
    .padding {
      padding: 0 20px; } }
  @media (max-width: 990px) {
    .padding {
      padding: 0 10px; } }

.margin {
  margin-bottom: 40px; }

button,
input,
a {
  outline: none; }

main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style-type: none;
  padding: 0; }

.slick-slide {
  outline: none; }

textarea {
  resize: none; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/*Анимация для модалки виде*/
