header {
    background: #0B1F5E;
    @media (max-width: 700px) {
        position: relative;
    }
    .container {
        padding: 10px 0;
        @media (max-width: 990px) {
            padding: 10px 0;
        }
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-box {
    cursor: pointer;
    .logo-text {
        color: #fff;
        font: 300 1.5rem 'Raleway', sans-serif;
        @media (max-width: 990px) {
            font-size: 1rem;
        }
        span {
            font: 300 2rem 'Arizonia', cursive;
            @media (max-width: 990px) {
                font: 300 1.3rem 'Arizonia', cursive;
            }
            @media (max-width: 700px) {
                display: block;
            }
        }
    }
}

.lang-box {
    cursor: pointer;
    position: relative;
    left: -20px;
    .call-lang {
        color: #fff;
        font: 500 1rem 'Raleway', sans-serif;
        position: relative;
        @media (max-width: 576px) {
            font: 500 .95rem 'Raleway', sans-serif;
        }
        &::before {
            content: '';
            position: absolute;
            right: -20px;
            top: 9px;
            border: 6px solid transparent;
            border-top: 6px solid #fff;
        }
    }
    .hide-lang {
        display: none;
        border-radius: 20px;
        padding: 5px 12px;
        background: #fff;
        position: absolute;
        top: 25px;
        left: -10px;
        z-index: 999;
        @media (max-width: 990px) {
            left: -21px;
            box-sizing: border-box;
        }
        li {
            padding: 3px 0;
            a {
                text-align: center;
                font: 400 .9rem 'Raleway', sans-serif;
                color: #8C8C9E;
                transition: .3s;
                &:hover {
                    color: #0B1F5E;
                }
            }
        }
    }
}

nav {
    background: #0B1F5E;
    position: relative;
    z-index: 999;
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1800px) {
        max-width: 1140px;
    }
    @media (max-width: 1600px) {
        max-width: 822px;
    }
    @media (max-width: 990px) {
        max-width: 100%;
    }
    &::before {
        content: '';
        height: 100%;
        width: 300%;
        position: absolute;
        display: block;
        left: -100%;
        background: #0B1F5E;
        @media (max-width: 990px) {
            display: none;
        }
    }
    @media (max-width: 990px) {
        padding: 5px 20px;
    }
    @media (max-width: 700px) {
        display: block;
        position: fixed;
        right: 0;
        padding: 0;
        top: 0;
        height: auto;
        width: 65vw;
        z-index: 999;
        background: #fff;
        border: 1px solid #0B1F5E;
        transition: .3s;
        transform: translateX(125%);
    }
    @media (max-width: 360px) {
        width: 85vw;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }
        @media (max-width: 700px) {
            overflow: hidden;
        }
        @media (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
        }
    }
    li {
        @media (max-width: 700px) {
            border: none;
            display: block;
            margin: 0;
            padding: 7.5px 10px;
            width: 100%;
            position: relative;
            box-sizing: border-box;
            border-bottom: 1px solid #C5C5C5;
        }
        &:hover {
            .sub-menu {
                display: flex;
                position: absolute;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                z-index: 99;
                background: #4C63A6;
                width: 100%;
                left: 0;
                @media (max-width: 990px) {
                    margin-top: 10px;
                    width: 108%;
                    position: relative;
                    left: -4%;
                    display: none;
                    background: transparent;
                }
                &::before {
                    content: '';
                    height: 100%;
                    width: 300%;
                    position: absolute;
                    display: block;
                    left: -100%;
                    background: #4C63A6;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
            }
        }
        .arrow-mob {
            position: absolute;
            right: 10px;
            top: 10px;
            transition: .2s;
            @media(max-width: 700px) {
                height: 15px;
                width: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &::before {
                @media (max-width: 700px) {
                    content: '';
                    position: relative;
                    top: 2px;
                    border: 5px solid transparent; 
                    border-top: 5px solid #0B1F5E;
                    display: block;
                }
            }
        }
        .active-arrow {
            transform: rotate(180deg);
        }
        a {
            font:  .95rem "SegoeUI-bold";
            letter-spacing: 1.5px;
            text-transform: uppercase;
            color: #fff;
            display: block;
            padding: 20px 12.5px;
            transition: .3s;
            position: relative;
            &::before {
                content: '';
                height: 12px;
                width: 1px;
                background: rgba(255,255,255,.5);
                position: absolute;
                right: 0;
                top: 25px;
                @media (max-width: 1600px) {
                    top: 17px;
                }
                @media (max-width: 990px) {
                    top: 8px;
                }
            }
            &:hover {
                color: #0B1F5E;
                background: #fff;
                @media (max-width: 700px) {
                    background: transparent;
                }
                &::before {
                    display: none;
                }
            }
            @media (max-width: 1800px) {
                padding: 20px 10px;
            }
            @media (max-width: 1600px) {
                font:  .75rem "SegoeUI-bold";
                letter-spacing: 1px;
                padding: 15px 5px;
            }
            @media (max-width: 990px) {
                padding: 5px 15px;
            }
            @media (max-width: 700px) {
                color: #0B1F5E;
                padding: 0;
                font:  .87rem "SegoeUI-bold";
            }
        }
    }
    li:last-child{
        border: none;
        @media (max-width: 700px) {
            border-bottom: 1px solid #C5C5C5;
        }
        a {
            &::before {
                display: none;
            }
        }
    }
    .sub-menu {
        display: none;
        @media (max-width: 990px) {
            margin-top: 10px;
            width: 108%;
            position: relative;
            left: -4%;
        }
        li {
            @media (max-width: 700px) {
                border-top: 1px solid #C5C5C5;
                border-bottom: none;
            }
            a {
                @media (max-width: 700px) {
                    font: 600 .87rem "SegoeUI-light";
                    padding-left: 20px;
                }
                &::before {
                    content: '';
                    top:20px;
                    @media (max-width: 1600px) {
                        top: 18px;
                    }
                    @media (max-width: 990px) {
                        top: 8px;
                    }
                }
            }
        }
        li:last-child {
            @media (max-width: 700px) {
                border: none;
                padding-bottom: 0;
                border-top: 1px solid #C5C5C5;
            }
        }
    }
}


/*Стили для зарегестрированного юзера*/
.search-desk {
    position: relative;
    @media (max-width: 990px) {
        width: 200px;
    }
    &::before {
        content: '';
		background: url(../img/icon/search.svg);
		background-size: 18px 18px;
		height: 18px;
		width: 18px;
        position: absolute;
        right: 10px;
        top: 6px;
        pointer-events: none;
        @media (max-width: 990px) {
            background-size: 15px 15px;
            height: 15px;
            width: 15px;
            top: 4px;
            right: 8px;
        }
    }
    input {
        width: 100%;
        box-sizing: border-box;
        padding: 7.5px 18px;
        border-radius: 25px;
        border: none;
        @media (max-width: 990px) {
            padding: 4px 14px;
        }
    }
    ::-webkit-input-placeholder {
        font: 400 .95rem 'Raleway', sans-serif;
        color: #8C8C9E;
        opacity: .65;
    }
    ::-moz-placeholder          {
        font: 400 .95rem 'Raleway', sans-serif;
        color: #8C8C9E;
        opacity: .65;
    }
    :-moz-placeholder           {
        font: 400 .95rem 'Raleway', sans-serif;
        color: #8C8C9E;
        opacity: .65;
    }
    :-ms-input-placeholder      {
        font: 400 .95rem 'Raleway', sans-serif;
        color: #8C8C9E;
        opacity: .65;
    }
}

.inside-header-container {
    display: grid;
    grid-template-columns: 6fr 4fr 6fr;
    grid-gap: 20px;
    @media (max-width: 1280px) {
        grid-template-columns: 5fr 4fr 6fr;
    }
    @media (max-width: 990px) {
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
    }
    @media (max-width: 700px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hide-header-panel {
        display: none;
        @media (max-width: 700px) {
            display: flex;
        }
        .call-search {
            height: 20px;
            width: 20px;
            position: relative;
            top: 2px;
        }
        .call-menu {
            width: 35px;
            height: 27px;
            margin-left: 15px;
        }
        .hide-search {
            position: absolute;
            z-index: 99;
            bottom: -45px;
            left: 10px;
            right: 10px;
            padding: 10px;
            border-radius: 10px;
            width: 94%;
            border: 1px solid #000;
            box-sizing: border-box;
            display: none;
        }
        :-ms-input-placeholder      {
            font: 400 .95rem 'Raleway', sans-serif;
            color: #8C8C9E;
            opacity: .65;
        }
    }
    .logo-box {
        @media (max-width: 700px) {
            margin-left: 15%;
            margin-right: auto;
        }
        @media (max-width: 576px) {
            margin-left: 10%;
        }
        @media (max-width: 420px) {
            margin-left: 5px;
        }
    }
    .logo-text {
        @media (max-width: 990px) {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
        @media (max-width: 700px) {
            flex-direction: column;
            margin: 0;
        }
        span {
            margin-left: 5px;
        }
    }
    .header-panel {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        @media (max-width: 990px) {
            justify-content: space-between;
        }
        @media (max-width: 700px) {
            justify-content: flex-start;
            order: -1;
        }
    }
    .desk {
        @media (max-width: 990px) {
            display: none;
        }
    }
    .tablet {
        display: none;
        @media (max-width: 990px) {
            display: block;
        }
        @media (max-width: 700px) {
            display: none;
        }
    }
    .user-box {
        position: relative;
        @media (max-width: 990px) {
            margin-right: auto;
            margin-left: 10%;
        }
        @media (max-width: 700px) {
            margin-right: 5px;
            margin-left: 0;
        }
        img {
            height: 33px;
            width: 33px;
            border: 2px solid #0c9fce;
            border-radius: 50%;
            @media (max-width: 370px) {
                height: 28px;
                width: 28px;
            }
        }
        .status {
            font: .7rem "SegoeUI-bold";
            color: #fff;
            background: #22d600;
            border-radius: 25px;
            padding: 1px 8px;
            border: 2px solid #fff;
            position: absolute;
            left: 20px;
            @media (max-width: 370px) {
                font: .65rem "SegoeUI-bold";
                padding: 1px 6px;
                left: 15px;
                top: -2px;
            }
        }
        .name {
            text-decoration: underline;
            color: #fff;
            font: .8rem "SegoeUI-bold";
            position: relative;
            left: 2px;
            bottom: 1px;
            @media (max-width: 990px) {
                font-size: .9rem;
                left: 7px;
                top: 1px;
            }
            @media (max-width: 700px) {
                display: none;
            }
        }
    }
    .money-panel {
        position: relative;
        margin-left: 25px;
        @media (max-width: 700px) {
            display: none;
        }
        img {
            height: 28px;
            width: 28px;
            @media (max-width: 700px) {
                height: 26px;
                width: 26px;
            }
        }
        span {
            font: .6rem "SegoeUI-bold";
            position: absolute;
            color: #fff;
            border-radius: 25px;
            background: #0b1f5e;
            border: 1px solid #f2c054;
            padding: 1px 6px;
            left: 5px;
            top: -10px;
            strong {
                font: .75rem "SegoeUI-bold";
                color: #f2c054;
            }
        }
    }
    .bell-panel {
        margin-left: 25px;
        position: relative;
        @media (max-width: 370px) {
            margin-left: 15px;
        }
        img {
            height: 28px;
            width: 28px;
            @media (max-width: 700px) {
                height: 26px;
                width: 26px;
            }
            @media (max-width: 370px) {
                height: 22px;
                width: 22px;
            }
        }
        span {
            font: .75rem "SegoeUI-bold";
            padding: 1px 12px;
            background: #cd181f;
            border: 1px solid #fff;
            border-radius: 25px;
            color: #fff;
            position: absolute;
            left: 5px;
            top: -10px;
            @media (max-width: 370px) {
                font: .65rem "SegoeUI-bold";
                padding: 1px 6px;
                left: 8px;
            }
        }
    }
    .favorite-panel {
        margin-left: 25px;
        @media (max-width: 370px) {
            margin-left: 15px;
        }
        img {
            height: 28px;
            width: 28px;
            @media (max-width: 370px) {
                height: 22px;
                width: 22px;
            }
        }
    }
    .call-lang {
        height: 20px;
        width: 20px;
        margin-left: 35px;
        margin-right: -10px;
        @media (max-width: 700px) {
            display: none;
        }
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: -2px;
            border: 10px solid transparent;
            border-top: 10px solid #fff;
        }
    }
    .hide-lang {
        left: -13px;
        width: 70px;
        li {
            width: 100%;
        }
        a {
            display: block;
        }
    }
}

.nav-hide-panel {
    display: none;
    @media (max-width: 700px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #0b1f5e;
        padding: 8px 10px;
    }
    .close-menu {
        opacity: .8;
        height: 15px;
        width: 15px;
    }
    .money-panel {
        position: relative;
        margin-left: auto;
        margin-right: 35px;
        top: 5px;
        img {
            height: 23px;
            width: 23px;
        }
        span {
            font: .55rem "SegoeUI-bold";
            position: absolute;
            color: #fff;
            border-radius: 25px;
            background: #0b1f5e;
            border: 1px solid #f2c054;
            padding: 1px 6px;
            left: 10px;
            top: -10px;
            strong {
                font: .7rem "SegoeUI-bold";
                color: #f2c054;
            }
        }
    }
    .logo-text {
        color: #fff;
        font-size: .75rem;
        span {
            display: block;
            font: 300 .95rem 'Arizonia', cursive;
        }
    }
}

.header-simple {
    .nav-hide-panel {
        @media (max-width: 990px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #0b1f5e;
            padding: 8px 10px;
        }
    }
}

.nav-hide-panel-2 {
    display: none;
    @media (max-width: 700px) { 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        margin: 5px 0;
    }
    .call-lang-2 {
        text-transform: uppercase;
        font: .8rem "SegoeUI-bold";
        color: #0B1F5E;
        padding: 5px 10px;
        border: 1px solid #0B1F5E;
        border-radius: 5px;
        position: relative;
        width: 25px;
        text-align: center;
    }
    .hide-lang-2 {
        display: none;
        position: absolute;
        border-radius: 5px;
        padding: 5px 10px;
        background: #fff;
        top: 30px;
        border: 1px solid #0B1F5E;
        left: -1px;
        z-index: 9999;
        width: 25px;
        text-align: center;
        a {
            font: .8rem "SegoeUI-bold";
            color: #0B1F5E;
        }
    }
    .icon-dekstop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.5px;
        border: 1px solid #0B1F5E;
        background: #0B1F5E;
        color: #fff;
        font: .65rem/10px "SegoeUI-regular";
        border-radius: 5px;
        text-transform: uppercase;
        img {
            margin-right: 4px;
            height: 17px;
            width: 17px;
        }
    }
    .output {
        font: .8rem "SegoeUI-regular";
        padding: 5px 10px;
        color: #C5C5C5;
        text-transform: uppercase;
        border: 1px solid #C5C5C5;
        border-radius: 5px;
    }
}

.active-menu {
    transition: .3s;
    transform: translateX(0);
}


.simple-box-header {
    display: flex;
    align-items: center;
    .lang-box {
        @media (max-width: 700px) {
            display: none;
        }
    }
    .call-menu {
        display: none;
        margin-left: 10px;
        height: 25px;
        @media (max-width: 700px) {
            display: block;
        }
    }
   
}
