@font-face {
    font-family: "SegoeUI-light";
    src: url("../fonts/SegoeUI-Light.eot") format("eot"),
        url("../fonts/SegoeUI-Light.ttf") format("ttf"),
        url("../fonts/SegoeUI-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI-regular";
    src: url("../fonts/SegoeUI.eot") format("eot"),
        url("../fonts/SegoeUI.ttf") format("ttf"),
        url("../fonts/SegoeUI.woff") format("woff");
    font-display: swap;
}


@font-face {
    font-family: "SegoeUI-bold";
    src: url("../fonts/SegoeUI-SemiBold.eot") format("eot"),
        url("../fonts/SegoeUI-SemiBold.ttf") format("ttf"),
        url("../fonts/SegoeUI-SemiBold.woff") format("woff");
    font-display: swap;
}


@font-face {
    font-family: "SegoeUI-bold-2";
    src: url("../fonts/SegoeUI-Bold.eot") format("eot"),
        url("../fonts/SegoeUI-Bold.ttf") format("ttf"),
        url("../fonts/SegoeUI-Bold.woff") format("woff");
    font-display: swap;
}

