.home-nav-container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 30px;
    padding: 20px 0;
    @media (max-width: 1600px) {
        grid-gap: 15px;
        grid-template-columns: 2fr 6fr 2fr;
    }
    @media (max-width: 1280px) {
        grid-template-columns: 2fr 6fr 2fr;
    }
    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
    }
    .advertising-banner-wrap {
        @media (max-width: 1400px) {
            display: grid;
        }
        @media (max-width: 1200px) {
            display: none;
        }
        .advertising-banner-box  {
            @media (max-width: 1600px) {
                height: 300px;
            }
            @media (max-width: 1200px) {
                height: 180px;
            }
        }
    }
    .mob-relkama {
        display: none;
        @media (max-width: 990px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
        }
        .advertising-banner-box {
            @media (max-width: 1200px) {
                height: 250px;
            }
            @media (max-width: 576px) {
                height: 200px;
                margin: 0;
            }
            @media (max-width: 420px) {
                height: 140px;
                margin: 0;
            }
            @media (max-width: 420px) {
                height: 120px;
                margin: 0;
            }
            img {
                @media (max-width: 576px) {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    
}

.home-nav {
    background: #FCFAF6;
}

.home-nav-container-wrap {
    display: grid;
    grid-template-columns: repeat(4,290px);
    grid-template-rows: repeat(3,290px);
    grid-gap: 25px;
    margin: 0 auto;
    @media (max-width: 1800px) {
        grid-template-columns: repeat(4,250px);
        grid-template-rows: repeat(3,250px);
        grid-gap: 15px;
    }
    @media (max-width: 1650px) {
        grid-template-columns: repeat(4,230px);
        grid-template-rows: repeat(3,230px);
    }
    @media (max-width: 1500px) {
        grid-template-columns: repeat(4,200px);
        grid-template-rows: repeat(3,200px);
    }
    @media (max-width: 990px) {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    @media (max-width: 700px) {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    @media (max-width: 576px) {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    @media (max-width: 360px) {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 10px;
    }
    @media (max-width: 340px) {
        display: flex;
        flex-direction: column;
    }
    
    .home-nav-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 25px 20px;
        cursor: pointer;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        @media (max-width: 990px) {
            padding: 36% 20px;
        }
        @media (max-width: 576px) {
            padding: 39% 20px;
        }
        @media (max-width: 520px) {
            padding: 34% 20px;
        }
        @media (max-width: 420px) {
            padding: 32% 15px;
        }
        @media (max-width: 340px) {
            height: 320px;
            margin: 10px 0;
            padding: 20px;
        }
        @media (max-width: 330px) {
            height: 310px;
        }
        @media (max-width: 320px) {
            height: 300px;
        }
        .home-nav-title {
            display: block;
            color: #FFF;
            font: bold 1.43rem 'Raleway', sans-serif;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: .69px;
            @media (max-width: 1600px) {
                font: bold 1.1rem 'Raleway', sans-serif;
            }
            @media (max-width: 1400px) {
                font: bold 1rem 'Raleway', sans-serif;
            }
            @media (max-width: 990px) {
                position: relative;
                top: -90%;
            }
            @media (max-width: 768px) {
                top: -80%;
            }
            @media (max-width: 576px) {
                font: bold .95rem 'Raleway', sans-serif;
                top: -120%;
            }
            @media (max-width: 500px) {
                top: -80%;
            }
            @media (max-width: 400px) {
                top: -60%;
            }
            @media (max-width: 340px) {
                top: 0;
            }
        }
        .home-nav-info {
            display: block;
            color: #FFF;
            font: 600 .75rem 'Raleway', sans-serif;
            text-transform: uppercase;
            letter-spacing: .33px;
            text-align: center;
            @media (max-width: 990px) {
                position: relative;
                top: -90%;
            }
            @media (max-width: 768px) {
                top: -80%;
            }
            @media (max-width: 576px) {
                top: -120%;
            }
            @media (max-width: 500px) {
                top: -80%;
            }
            @media (max-width: 400px) {
                top: -60%;
            }
            @media (max-width: 340px) {
                top: 0;
            }
        }
    }
    .blocked {
        position: relative;
        &:hover {
            .blocked-info-box {
                opacity: 1;
            } 
        }
        .blocked-info-box {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(11,31,94,.7);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            z-index: 99;
            opacity: 0;
            transition: .3s;
            height: 100%;
            .blocked-title {
                font: 400 1.05rem/20px 'Raleway', sans-serif;
                color: #fff;
                position: relative;
                z-index: 9;
                text-align: center;
                margin-bottom: 40px;
                @media (max-width: 1600px) {
                    margin-bottom: 20px;
                    font-size: .8rem;
                }
            }
            .blocked-info {
                font: 400 1.05rem 'Raleway', sans-serif;
                color: #fff;
                position: relative;
                z-index: 9;
                text-align: center;
                margin-bottom: 30px;
                @media (max-width: 1600px) {
                    margin-bottom: 20px;
                    font-size: .8rem;
                }
            }
            .call-regist-modal {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(-3.5deg);
                color: #fff;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                border: 2px solid #fff;
                font: 600 1.1rem 'Raleway', sans-serif;
            }
        }
        .home-nav-title {
            position: relative;
            right: -5px;
            @media (max-width: 576px) {
                right: -10px;
            }
            &::before {
                content: '';
                background: url(../img/home-nav/blocked.svg);
                background-size: 30px 30px;
                height: 30px;
                width: 30px;
                position: absolute;
                left: -40px;
                top: -7px;
                @media (max-width: 1400px) {
                    background-size: 25px 25px;
                    height: 25px;
                    width: 25px;
                    top: -5px;
                    left: -28px;
                }
                @media (max-width: 576px) {
                   top: -8px;
                }
            }
        }
    }
    .blocked:first-child {
        .blocked-info-box {
            @media (max-width: 990px) {
                opacity: 1;
            }
        } 
    }
    .social {
        background: url(../img/home-nav/social.png) no-repeat center center/cover;
    }
    .state {
        background: url(../img/home-nav/state.png) no-repeat center center/cover;
    }
    .book {
        background: url(../img/home-nav/book.png) no-repeat center center/cover;
    }
    .film {
        background: url(../img/home-nav/film.png) no-repeat center center/cover;
    }
    .program {
        background: url(../img/home-nav/program.png) no-repeat center center/cover;
    }
    .learn {
        background: url(../img/home-nav/learn.png) no-repeat center center/cover;
    }
    .services {
        background: url(../img/home-nav/services.png) no-repeat center center/cover;
    }
    .tur {
        background: url(../img/home-nav/tur.png) no-repeat center center/cover;
    }
    .orend {
        background: url(../img/home-nav/orend.png) no-repeat center center/cover;
    }
    .sale {
        background: url(../img/home-nav/sale.png) no-repeat center center/cover;
    }
    .strahovka {
        background: url(../img/home-nav/strahovka.png) no-repeat center center/cover;
    }
    .vebinar {
        background: url(../img/home-nav/vebinar.png) no-repeat center center/cover;
    }
}

