.main-screen {
    height: 580px;
    position: relative;
    .main-img {
        height: 100%;
        max-width: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
    }
    &::before {
        content: '';
        height: 60%;
        bottom: 0;
        width: 100%;
        left: 0;
        position: absolute;
        background: rgba(255,255,255,.5);
        display: block;
        clip-path: polygon(50% 75%, 100% 30%, 100% 100%, 0 100%, 0% 30%);
        @media (max-width: 1400px) {
            height: 65%;
        }
        @media (max-width: 990px) {
            display: none;
        }
    }
    @media (max-width: 1280px) {
        height: 500px;
    }
    @media (max-width: 990px) {
        height: auto;
    }
    .container {
        height: 100%;
        @media (max-width: 990px) {
            padding: 20px 0 40px 0;
        }
        @media (max-width: 576px) {
            padding:20px 0;
        }
    }
}

.inside-main-screen {
    &::before {
        display: none;
    }
}

.main-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .main-screen-title {
        color: #0B1F5E;
        font: 600 3.6rem 'Raleway', sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media (max-width: 1280px) {
            font: 600 3rem 'Raleway', sans-serif; 
        }
        @media (max-width: 576px) {
            font: 600 1.5rem 'Raleway', sans-serif;
            margin-bottom: 5px;
        }
    }
    .main-screen-text {
        color: #0B1F5E;
        font: 400 2.35rem 'Raleway', sans-serif;
        text-transform: uppercase;
        margin-bottom: 50px;
        @media (max-width: 1280px) {
            font: 400 2rem 'Raleway', sans-serif; 
            margin-bottom: 20px;
        }
        @media (max-width: 576px) {
            font: 400 1rem 'Raleway', sans-serif;
        }
    }
    img {
        margin-bottom: 60px;
        @media (max-width: 1280px) {
            margin-bottom: 20px;
        }
        @media (max-width: 990px) {
            height: 100px;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    .main-screen-panel {
        display: flex;
        align-items: center;
        @media (max-width: 360px) {
            flex-direction: column;
            justify-content: center;
        }
        .btn-screen {
            padding: 10px 30px;
            width: 200px;
            text-align: center;
            background: #fff;
            font: 600 1rem 'Raleway', sans-serif;
            border: 3px solid #fff;
            border-radius: 40px;
            text-transform: uppercase;
            margin: 0 15px;
            display: block;
            position: relative;
            @media (max-width: 990px) {
                padding: 8px 25px;
                width: 160px;
            }
            @media (max-width: 576px) {
                width: auto;
                margin: 0 5px;
                padding: 10px 35px;
                font: 600 .87rem 'Raleway', sans-serif;
            }
            @media (max-width: 390px) {
                font: 600 .8rem 'Raleway', sans-serif;
                padding: 8px 30px;
            }
            @media (max-width: 360px) {
                width: 100%;
                margin: 5px;
            }
        }
        .inside {
            color: #CD181F;
            border: 3px solid #CD181F;
            transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
            @media (max-width: 576px) {
                transform: none;
            }
            &::after {
                content: url(../img/icon/helm.svg);
                position: absolute;
                height: 28px;
                width: 28px;
                right: 30px;
                top: 6px;
                @media (max-width: 990px) {
                    top: 3px;
                    right: 5px;
                }
                @media (max-width: 390px) {
                    top: 1px;
                    right: 2px;
                }
            }
        }
        .regist {
            color: #0B1F5E;
            border: 3px solid #0B1F5E;
            transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0);
            @media (max-width: 576px) {
                transform: none;
            }
            &::after {
                content: url(../img/icon/anchor.svg);
                position: absolute;
                left: 35px;
                height: 28px;
                width: 28px;
                top: 6px;
                @media (max-width: 990px) {
                    top: 4px;
                    left: 5px;
                }
                @media (max-width: 390px) {
                    top: 1px;
                    left: 2px;
                }
            }
        }
        .call-question {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            border: 3px solid #fff;
            font: 600 1.5rem 'Raleway', sans-serif;
            position: relative;
            bottom: -25px;
            transform: rotate(-7deg);
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
}



/*Стили для зарегестрированного юзера*/
.inside-main {
    justify-content: flex-start;
    padding-top: 50px;
    @media (max-width: 990px) {
        padding-top: 15px;
    }
}